[MESSAGES CONTROL]
disable=
    chained-comparison,
    broad-exception-raised,
    broad-exception-caught,
    dangerous-default-value,
    duplicate-code,
    eval-used,
    fixme,
    invalid-name,
    missing-module-docstring,
    pointless-string-statement,
    redefined-outer-name,
    too-few-public-methods,
    too-many-lines,
    too-many-locals,
    too-many-branches,
    too-many-ancestors,
    too-many-arguments,
    too-many-statements,
    too-many-nested-blocks,
    too-many-instance-attributes,
    unspecified-encoding,
    unused-variable,

[FORMAT]
max-line-length=127